#menu {
    display: inline-block;
    margin-right: 20px;
    height: 4em;
    width: 100%;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
}
/* Sử dụng cho menu */

.logo-img{
    height: 60px;
}
.logo{
    display: inline;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background: #F8C800; */
    background-color: transparent;
    font-weight: 700;
    /* text-transform: uppercase; */
    display: inline-block;
}

li {
    float: left;
    /* border-right: 1px solid white; */
    text-transform: uppercase;
    padding-right: 0.5rem;
}

li.dropdown {
    display: inline-block;
}

li a:hover,
.dropdown:hover {
    background: #f5ed28;
}

li a,
.dropdown-btn {
    display: inline-block;
    color: #333;
    text-align: center;
    padding: 0 7px;
    text-decoration: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #f5ed28;
    z-index: 1;
    line-height: 2;
    border: none;
    transition: all .3s ease-in-out;
    text-transform: none;
    padding-right: 0.5rem;
    min-width: 227px;
}

.dropdown-content a {
    color: #333;
    padding: 3px 16px;
    display: block;
    text-align: left;
    background-color: transparent;
    /* transition: all .3s ease-in-out; */
    border: 0!important;
    padding-left: 1.5rem;
}

.dropdown-content a:hover {
    /* background-color: tomato; */
    background-image: linear-gradient(to right, #ffc600, #F8C800, #f5ed28);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.item {
    text-align: left;
    padding-left: 10px;
    font-weight: bolder;
}

.item-symbol {
    font-size: 5px;
    position: relative;
    top: -3px;
}
.sigup{
    background: #ffc600;
    height: 30px;
    border-radius: 30px;
    border: none;
}
.btn-sigup{
    line-height: 4em;
    display: inline-block;
    margin-top: 20px;
}
.sigup:hover{
    background-color: goldenrod;
}
.gth{
    width: 200px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 20px;
}
.gth:hover{
    background-color: #FCF9B5;
}
.content{
    margin-top: 70px;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%);
    max-height: 400px;
}
.content-table{
    border-spacing: 20px;
}
.nd2{
    margin-top: 70px;
}
.right{
    float: right;
    width: 400px;
}
.left{
    float: left;
    width: 400px;
}
.content-table2{
    border: 2px solid #0000;
    /* box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 50%); */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
} 
.footer{
    margin-top: 700px;
    height: 500px;
    width: 100%px;
    line-height: 2px;
    background: #E1E1E1;
}
.col1{
    height: 40%;
    width: 30%;
    float: left;
}
.col2{
    height: 40%;
    width: 30%;
    float: left;
}
.col3{
    height: 40%;
    width: 30%;
    float: left;
}
hr{
    color: blue;
}